<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{$url_base}public/image/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{$url_base}public/css/util.css">
	<link rel="stylesheet" type="text/css" href="{$url_base}public/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

<div class="limiter">
	<div class="container-login100" style="background-image: url('{$url_base}public/image/imgBP.jpg')">
		<mballoS class="wrap-login100 p-t-190 p-b-30">
			<form name="login" method="post" action="{$url_base}User/index" class="login100-form validate-form">
				<div class="login100-form-avatar">
					<img src="{$url_base}public/image/logoBP.jpg" alt="AVATAR">
				</div>

				<span class="login100-form-title p-t-20 p-b-45">
						Banque du Peuple
					</span>
				<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
					<input class="input100" type="text" name="username" placeholder="Login or email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
				</div>

				<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
					<input class="input100" type="password" name="pass" placeholder="Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
				</div>

				<div class="container-login100-form-btn p-t-10">
					<button class="login100-form-btn">
						Login
					</button>
				</div>
				<span class="text-center w-full p-t-25 p-b-230 color-red">
					{if $error==0 }Login ou mot de passe incorrecte!... {/if}
				</span>
				<div class="text-center w-full p-t-25 p-b-230">
					<a href="#" class="txt1">
						Forgot Username / Password?
					</a>
				</div>
			</form>
		</div>
	</div>
</div>




<!--===============================================================================================-->
<script src="{$url_base}public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="{$url_base}public/vendor/bootstrap/js/popper.js"></script>
<script src="{$url_base}public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="{$url_base}public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="{$url_base}public/js/main.js"></script>

</body>
</html>